Repository Central-MakeUs/PillME-Web, pull requests merged in 2025-01, with the labels that each got.

#13 bug: color 적용안되는 문제 해결
  src/ui/color.css.ts
Labels: bug, chore, fix

#11 feat: Switch 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/ui/switch/index.ts
  src/ui/switch/switch.stories.tsx
  src/ui/switch/switch.styles.css.ts
  src/ui/switch/switch.tsx
Labels: feat, fix, size/XXL

#17 chore: 스토리북 배포
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .gitignore
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: chore

#10 feat: chip 컴포넌트 추가
  src/ui/chip/chip.stories.tsx
  src/ui/chip/chip.styles.css.ts
  src/ui/chip/chip.tsx
  src/ui/chip/delete-icon.tsx
  src/ui/chip/index.ts
Labels: feat, fix

#21 feat: button 컴포넌트 추가
  src/assets/icon/name=arrow_righr.svg
  src/ui/button/button.styles.css.ts
  src/ui/button/button.tsx
Labels: feat

#23 feat: button-text 추가
  src/assets/icon/name=arrow_righr.svg
  src/ui/button-text/button-text.css.ts
  src/ui/button-text/button-text.stories.tsx
  src/ui/button-text/button-text.tsx
  src/ui/button-text/index.ts
  src/ui/button/index.ts
Labels: chore, feat, style

#25 feat: Input TextField
  .storybook/preview.ts
  src/ui/form/form-error-message.styles.css.ts
  src/ui/form/form-error-message.tsx
  src/ui/form/form-field.tsx
  src/ui/form/form-item.stories.tsx
  src/ui/form/form-item.styles.css.ts
  src/ui/form/form-item.tsx
  src/ui/form/form-label.styles.css.ts
  src/ui/form/form-label.tsx
  src/ui/form/index.ts
  src/ui/input/index.ts
  src/ui/input/input-container.styles.css.ts
  src/ui/input/input-container.tsx
  src/ui/input/input-element.styles.css.ts
  src/ui/input/input-element.tsx
  src/ui/input/input.stories.tsx
  src/ui/input/input.styles.css.ts
  src/ui/input/input.tsx
Labels: feat, fix

#28 feat: dialog 컴포넌트 추가
  package.json
  pnpm-lock.yaml
  src/ui/dialog/dialog.css.ts
  src/ui/dialog/dialog.stories.tsx
  src/ui/dialog/dialog.tsx
  src/ui/dialog/index.ts
Labels: chore, feat

#32 feat: AppBar 컴포넌트
  src/ui/app-bar/app-bar-element.styles.css.ts
  src/ui/app-bar/app-bar-element.tsx
  src/ui/app-bar/app-bar.stories.tsx
  src/ui/app-bar/app-bar.styles.css.ts
  src/ui/app-bar/app-bar.tsx
  src/ui/app-bar/index.ts
Labels: feat

#37 chore: typedoc 배포 workflow 추가
  .github/workflows/typedoc.yml
  .gitignore
  eslint.config.js
Labels: chore

#42 feat: login 페이지 개발
  src/pages/login/index.tsx
  src/pages/login/loginSection/index.tsx
  src/pages/login/loginSection/styles.css.ts
  src/pages/login/styles.css.ts
  src/ui/button-text/button-text.css.ts
Labels: feat, refactor, style

#40 feat: 유저 정보 입력 퍼널 추가
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/userinfo/assets/dropdown-check.tsx
  src/pages/userinfo/components/BirthStepFunnel.tsx
  src/pages/userinfo/components/GenderStepFunnel.tsx
  src/pages/userinfo/components/NameStepFunnel.tsx
  src/pages/userinfo/index.tsx
  src/pages/userinfo/page.styles.css.ts
  src/pages/userinfo/schema.ts
  src/pages/userinfo/userInfoStepState.ts
  tsconfig.app.json
  tsconfig.json
Labels: chore, feat, fix, refactor, size/XXL

#43 chore: aws 배포 스크립트 추가
  .github/workflows/cd.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/typedoc.yml
Labels: chore

#47 feat : 홈페이지 UI 추가
  src/pages/home/components/recommend-category.css.ts
  src/pages/home/components/recommend-category.tsx
  src/pages/home/components/recommend-product.css.ts
  src/pages/home/components/recommend-product.tsx
  src/pages/home/index.tsx
  src/pages/home/mock-product.ts
  src/pages/home/recommend-category.ts
  src/pages/home/styles.css.ts
  src/ui/app-bar/app-bar.styles.css.ts
  src/ui/card/card.css.ts
  src/ui/card/card.tsx
  src/ui/chip/chip.styles.css.ts
  src/ui/search-field/search-field.styles.css.ts
  src/ui/spacer/spacer.css.ts
  src/ui/spacer/spacer.tsx
  src/ui/switch/switch.tsx
Labels: feat, fix, refactor

#49 feat: 바텀시트 개발
  package.json
  pnpm-lock.yaml
  src/ui/bottom-sheet/bottom-sheet.css.ts
  src/ui/bottom-sheet/bottom-sheet.tsx
Labels: chore, feat

#48 feat: 회원가입 페이지 추가
  package.json
  pnpm-lock.yaml
  src/pages/register/components/EnterStepFunnel.tsx
  src/pages/register/components/PasswordStepFunnel.tsx
  src/pages/register/components/VerificationStepFunnel.tsx
  src/pages/register/index.tsx
  src/pages/register/page.styles.css.ts
  src/pages/register/registerStepState.ts
  src/pages/register/schema.ts
Labels: chore, feat, refactor

#55 feat: 제품검색 페이지 추가
  src/hooks/useInput.ts
  src/pages/search/components/popular-keyword.css.ts
  src/pages/search/components/popular-keyword.tsx
  src/pages/search/components/recent-keyword.css.ts
  src/pages/search/components/recent-keyword.tsx
  src/pages/search/components/recommend-keyword.css.ts
  src/pages/search/components/recommend-keyword.tsx
  src/pages/search/index.tsx
  src/pages/search/result/index.tsx
  src/pages/search/result/style.css.ts
  src/pages/search/style.css.ts
  src/ui/card/card.css.ts
  src/ui/card/card.tsx
  src/ui/chip/chip.tsx
  src/ui/switch/switch.styles.css.ts
Labels: chore, feat, refactor, size/L

#52 feat: 약관동의 페이지 추가
  src/pages/register/agreement.ts
  src/pages/register/agreementBottomSheet.css.ts
  src/pages/register/assets/CheckIcon.tsx
  src/pages/register/components/AgreeMent.tsx
  src/pages/register/components/PasswordStepFunnel.tsx
Labels: feat, size/L
