Repository Central-MakeUs/PillME-Web, pull requests merged in 2025-03, with the labels that each got.

#129 feat: 내 약통 삭제 api 연동
  src/apis/mutation/myMedicine.ts
  src/apis/query/myMedicine.ts
  src/apis/types/myMedicine.ts
  src/pages/pillbox/manage/index.tsx
  src/pages/product/index.tsx
  src/ui/card/horizontal-card.tsx
Labels: feat, fix, size/M

#131 feat: 장바구니 관련 api 연동
  src/apis/mutation/cart.ts
  src/apis/query/cart.ts
  src/apis/types/cart.ts
  src/pages/cart/components/Fallback.tsx
  src/pages/cart/components/fallback.css.ts
  src/pages/cart/index.tsx
  src/pages/cart/page.css.ts
  src/pages/pillbox/manage/index.tsx
  src/pages/pillbox/new/components/PillBoxCardList.tsx
  src/pages/product/index.tsx
Labels: feat, fix, size/L

#132 fix: 온보딩 캐러셀 이미지 width 속성 제거
  src/pages/onboarding/assets/fourth.webp
  src/pages/onboarding/components/slides/slide.css.ts
Labels: fix, size/XS

#140 fix: baseurl 수정
  src/apis/fetcher.ts
Labels: fix, size/XS

#142 fix: 마이페이지 안된 부분 가리기
  src/pages/mypage/index.tsx
Labels: fix, size/S

#143 fix: 장바구니 전체 선택 해제 시 Fallback으로 가는 오류 수정
  src/pages/cart/index.tsx
Labels: fix, size/XS

#146 fix: 개별삭제, 클릭 시 검색 이동
  src/pages/search/components/recent-keyword.tsx
  src/pages/search/index.tsx
Labels: fix, size/S

#145 fix: ai 검색, 카테고리 검색, 약 추가쪽 미구현 기능제거
  src/pages/category/result/index.tsx
  src/pages/pillbox/new/index.tsx
  src/pages/search/result/index.tsx
Labels: fix, size/S

#147 fix: 상세 페이지 건강고민 카테고리, 관련성분 일정 개수 이하로 출력되도록 수정
  src/pages/product/index.tsx
Labels: fix, size/S

#156 feat: 내약통 페이지 약 ui 추가
  src/pages/pillbox/index.tsx
  src/pages/pillbox/page.css.ts
Labels: feat, size/M

#151 feat: 로그인에 따라 페이지 접근 허용 설정
  src/components/PrivateRoute.tsx
  src/components/cart-botton.tsx
  src/pages/login/index.tsx
  src/pages/product/index.tsx
  src/router.tsx
  src/ui/bottom-navigation/bottom-navigation.stories.tsx
  src/ui/bottom-navigation/bottom-navigation.tsx
  src/ui/dialog/dialog.tsx
  src/ui/layout/bottom-navigation-layout.tsx
  src/ui/layout/mobile-layout.stories.tsx
  src/utils/isLogin.ts
Labels: feat, fix, size/M

#161 fix: 성분분석관련 api 추가
  src/apis/query/myMedicine.ts
  src/apis/query/product.ts
  src/apis/types/myMedicine.ts
  src/apis/types/product.ts
  src/pages/pillbox/index.tsx
  src/pages/product/components/analysis-section.tsx
  src/pages/product/index.tsx
Labels: feat, fix, size/M

#160 fix: 홈 화면에서 증상 AI 검색 누를때 제품검색 토글되는 버그 수정
  src/pages/home/index.tsx
Labels: fix, size/XS

#165 feat: ai 검색 UI 추가, api 연동
  src/apis/query/product.ts
  src/apis/types/product.ts
  src/pages/search/components/ai-search-section.tsx
  src/pages/search/result/index.tsx
  src/pages/search/result/style.css.ts
Labels: feat, size/M

#162 bug: 추천 검색, 인기 검색 키워드 클릭 시 결과 페이지로 넘어가게 추가
  src/pages/search/components/popular-keyword.css.ts
  src/pages/search/components/popular-keyword.tsx
  src/pages/search/components/recommend-keyword.tsx
  src/pages/search/index.tsx
Labels: bug, fix, style, size/M

#168 chore: 모니터링 도구 추가
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/ClarityEffector.tsx
Labels: chore, size/S

#177 fix: 앱 심사를 위해 모니터링 도구 주석 처리
  src/App.tsx
Labels: fix, size/XS

#179 feat: 요청 실패시 토스트 추가
  src/pages/cart/index.tsx
  src/pages/mypage/manage/components/birth-bottom-sheet.tsx
  src/pages/mypage/manage/components/nick-name-bottom-sheet.tsx
  src/pages/mypage/manage/index.tsx
  src/pages/pillbox/manage/index.tsx
  src/pages/pillbox/new/components/PillBoxCardList.tsx
  src/pages/product/index.tsx
  vite.config.ts
Labels: chore, feat, size/S

#181 feat: react native와 연동하기 위한 브릿지 추가
  package.json
  pnpm-lock.yaml
  src/kernel.d.ts
  src/libs/bridge/copyClipBoard.ts
  src/libs/bridge/index.ts
  src/libs/bridge/isApp.ts
  src/libs/bridge/openExternalUrl.ts
  src/pages/cart/index.tsx
  src/pages/product/index.tsx
Labels: chore, feat, size/M
