Repository Central-MakeUs/PillME-Web, pull requests merged in 2025-02, with the labels that each got.

#58 feat: 카테고리 검색 페이지
  src/pages/category/category.ts
  src/pages/category/hooks/useScrollTop.tsx
  src/pages/category/index.tsx
  src/pages/category/page.css.ts
  src/pages/category/result/index.tsx
  src/pages/category/result/page.css.ts
  src/pages/home/components/recommend-category.tsx
  src/pages/home/components/recommend-product.css.ts
  src/pages/home/components/recommend-product.tsx
  src/pages/home/index.tsx
  src/pages/home/recommend-category.ts
  src/pages/home/styles.css.ts
  src/pages/search/result/index.tsx
  src/router.tsx
  src/ui/app-bar/app-bar.styles.css.ts
  src/ui/card/card.css.ts
  src/ui/card/card.tsx
  src/ui/chip/chip.styles.css.ts
  src/ui/icon-button/icon-button.css.ts
  src/ui/icon-button/icon-button.tsx
  src/ui/icon-button/index.ts
  src/ui/spacer/spacer.tsx
Labels: docs, feat, fix, size/XL

#59 feat: ai 검색 페이지 추가
  src/pages/search/result/bottomSheet.css.ts
  src/pages/search/result/index.tsx
  src/pages/search/result/style.css.ts
Labels: feat, style, size/M

#63 fix: chip 컴포넌트 props 변경
  src/pages/category/result/index.tsx
  src/pages/home/index.tsx
  src/pages/search/components/recent-keyword.tsx
  src/pages/search/components/recommend-keyword.tsx
  src/ui/chip/chip.stories.tsx
  src/ui/chip/chip.styles.css.ts
  src/ui/chip/chip.tsx
Labels: fix, size/L

#69 feat: 제품 상세페이지 전체
  package.json
  pnpm-lock.yaml
  src/assets/index.ts
  src/assets/svg/img_shortage.svg
  src/assets/svg/inmg_fulfill.svg
  src/assets/svg/inmg_overflow.svg
  src/pages/home/index.tsx
  src/pages/home/mock-product.ts
  src/pages/product/components/ingredient-card.css.ts
  src/pages/product/components/ingredient-card.tsx
  src/pages/product/components/ingredient-chart.tsx
  src/pages/product/index.tsx
  src/pages/product/style.css.ts
  src/pages/search/result/index.tsx
  src/ui/button/button.stories.tsx
  src/ui/card/card.tsx
  src/ui/toast/toast.css.ts
  src/ui/toast/toast.tsx
Labels: chore, feat, fix, style, size/XL

#72 feat: tab 컴포넌트
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/product/index.tsx
  src/ui/tab/index.ts
  src/ui/tab/tab-content.tsx
  src/ui/tab/tab-label.tsx
  src/ui/tab/tab.stories.tsx
  src/ui/tab/tab.styles.css.ts
  src/ui/tab/tab.tsx
Labels: feat, refactor, size/L

#73 feat: 내 약통 관리 페이지
  src/pages/home/components/recommend-product.tsx
  src/pages/home/index.tsx
  src/pages/pillbox/manage/index.tsx
  src/pages/pillbox/manage/page.css.ts
  src/pages/register/agreementBottomSheet.css.ts
  src/ui/card/horizontal-card.css.ts
  src/ui/card/horizontal-card.tsx
  src/ui/check-box/check-box.css.ts
  src/ui/check-box/check-box.tsx
  src/ui/check-box/index.ts
Labels: feat, fix, size/L

#76 feat: 성분전체확인 페이지
  src/assets/index.ts
  src/assets/svg/intake.svg
  src/assets/svg/notice.svg
  src/pages/product/components/ingredient-graph.css.ts
  src/pages/product/components/ingredient-graph.tsx
  src/pages/product/index.tsx
  src/pages/product/ingredient/bottomSheet.css.ts
  src/pages/product/ingredient/index.tsx
  src/pages/product/ingredient/styles.css.ts
  src/pages/product/page.css.ts
Labels: feat, size/L

#79 feat: 마이 페이지 퍼블리싱 추가
  src/pages/mypage/index.tsx
  src/pages/mypage/page.css.ts
Labels: feat, size/M

#82 feat: 상담페이지
  src/assets/index.ts
  src/assets/svg/consult_complete.svg
  src/assets/svg/consultation.svg
  src/assets/svg/img_pharmacist_blue.svg
  src/assets/svg/img_pharmacist_pink.svg
  src/pages/consultation/components/apply.css.ts
  src/pages/consultation/components/apply.tsx
  src/pages/consultation/components/my-consultation.css.ts
  src/pages/consultation/components/my-consultation.tsx
  src/pages/consultation/components/pharmacist-card.css.ts
  src/pages/consultation/components/pharmacist-card.tsx
  src/pages/consultation/detail/index.tsx
  src/pages/consultation/detail/style.css.ts
  src/pages/consultation/index.tsx
  src/pages/consultation/mock.consultation.ts
  src/pages/consultation/new/complete/index.tsx
  src/pages/consultation/new/complete/style.css.ts
  src/pages/consultation/new/components/step.css.ts
  src/pages/consultation/new/components/step1.tsx
  src/pages/consultation/new/components/step2.tsx
  src/pages/consultation/new/index.tsx
  src/pages/consultation/new/page.css.ts
  src/pages/consultation/page.css.ts
  src/ui/tab/tab-content.tsx
  src/ui/tab/tab.tsx
Labels: feat, fix, refactor, style, size/XXL

#83 feat: 내정보 관리 페이지
  src/pages/mypage/manage/bottomSheetReducer.ts
  src/pages/mypage/manage/components/birth-bottom-sheet.tsx
  src/pages/mypage/manage/components/bottom-sheet.css.ts
  src/pages/mypage/manage/components/nick-name-bottom-sheet.tsx
  src/pages/mypage/manage/index.tsx
  src/pages/mypage/manage/page.css.ts
  src/pages/userinfo/components/BirthStepFunnel.tsx
  src/router.tsx
Labels: feat, size/XL

#86 feat: auth api 추가
  src/apis/auth.ts
  src/apis/fetcher.ts
  src/constants/index.ts
  src/constants/storages.ts
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers/auth.ts
  src/pages/login/loginSection/index.tsx
  src/pages/register/components/EnterStepFunnel.tsx
  src/pages/register/components/PasswordStepFunnel.tsx
  src/pages/register/components/VerificationStepFunnel.tsx
  src/pages/register/index.tsx
  src/pages/register/registerStepState.ts
Labels: chore, feat, fix, size/L

#88 feat: 홈페이지에 캐러셀 적용
  src/apis/auth.ts
  src/pages/home/components/carousel-dot-button.tsx
  src/pages/home/components/carousel.tsx
  src/pages/home/components/embla.css.ts
  src/pages/home/components/slides/category-slide.tsx
  src/pages/home/index.tsx
  src/pages/home/recommend-category.ts
Labels: feat, fix, size/L

#89 feat: 에러 바운더리 추가
  src/assets/img_empty.png
  src/components/LocalErrorBoundary.tsx
  src/components/localErrorBoundary.css.ts
  src/pages/not-found/index.tsx
  src/pages/not-found/page.css.ts
  src/router.tsx
Labels: feat, size/M

#92 feat: 검색 api 연동
  src/apis/product.ts
  src/mocks/browser.ts
  src/mocks/handlers/product.ts
  src/pages/search/result/index.tsx
  src/query/product.ts
Labels: feat, size/M

#94 feat: 회원정보 관련 api 연동
  src/apis/user.ts
  src/components/LocalErrorBoundary.tsx
  src/mocks/browser.ts
  src/mocks/handlers/user.ts
  src/pages/mypage/index.tsx
  src/pages/mypage/manage/components/birth-bottom-sheet.tsx
  src/pages/mypage/manage/components/nick-name-bottom-sheet.tsx
  src/pages/mypage/manage/hooks/useBottomSheet.tsx
  src/pages/mypage/manage/index.tsx
  src/query/user.ts
  src/ui/toast/toast.tsx
Labels: feat, fix, refactor, size/L

#95 feat: 카테고리, 관련 성분 바텀시트 추가
  src/assets/ResetIcon.tsx
  src/assets/icon/name=delete.svg
  src/components/filter-bottom-sheet.css.ts
  src/components/filter-bottom-sheet.tsx
  src/pages/category/category.ts
  src/pages/category/index.tsx
  src/pages/category/result/index.tsx
Labels: feat, size/L

#98 fix: 생년월일 포맷 수정
  src/pages/mypage/manage/components/birth-bottom-sheet.tsx
  src/pages/mypage/manage/components/nick-name-bottom-sheet.tsx
  src/pages/userinfo/components/BirthStepFunnel.tsx
  src/pages/userinfo/components/NameStepFunnel.tsx
Labels: fix, size/S

#99 feat: 상세 페이지 api 연동
  src/apis/fetcher.ts
  src/apis/mutation/auth.ts
  src/apis/mutation/user.ts
  src/apis/product.ts
  src/apis/query/product.ts
  src/apis/query/user.ts
  src/apis/types/auth.ts
  src/apis/types/common.ts
  src/apis/types/product.ts
  src/apis/types/user.ts
  src/apis/user.ts
  src/mocks/handlers/product.ts
  src/pages/login/loginSection/index.tsx
  src/pages/mypage/index.tsx
  src/pages/mypage/manage/components/birth-bottom-sheet.tsx
  src/pages/mypage/manage/components/nick-name-bottom-sheet.tsx
  src/pages/mypage/manage/index.tsx
  src/pages/product/index.tsx
  src/pages/register/components/EnterStepFunnel.tsx
  src/pages/register/components/VerificationStepFunnel.tsx
  src/pages/register/index.tsx
  src/pages/search/result/index.tsx
  src/query/product.ts
  src/query/user.ts
Labels: feat, refactor, size/XL

#102 feat: 카테고리 검색 페이지에서 필터 클릭할 때마다 url 변경, api 연동
  src/components/filter-bottom-sheet.tsx
  src/constants/category.ts
  src/constants/ingredient.ts
  src/pages/category/category.ts
  src/pages/category/index.tsx
  src/pages/category/result/index.tsx
  src/pages/home/recommend-category.ts
  src/pages/register/index.tsx
  src/pages/search/result/index.tsx
  src/router.tsx
  src/ui/tab/tab.tsx
  src/utils/entries.ts
  src/utils/keys.ts
  src/utils/values.ts
Labels: feat, fix, refactor, size/XXL

#107 feat: 검색 리스트 없을 시 fallback ui 추가
  src/assets/search_empty.png
  src/components/search-fallback.css.ts
  src/components/search-fallback.tsx
  src/fixture/product.ts
  src/mocks/handlers/product.ts
  src/pages/category/result/index.tsx
  src/pages/category/result/page.css.ts
  src/pages/search/result/index.tsx
  src/pages/search/result/style.css.ts
  src/ui/app-bar/app-bar.styles.css.ts
Labels: feat, fix, refactor, size/M

#111 feat: 내 약통 추가 페이지 ui
  src/pages/pillbox/new/components/KeywordList.css.ts
  src/pages/pillbox/new/components/KeywordList.tsx
  src/pages/pillbox/new/components/PillBoxCardList.css.ts
  src/pages/pillbox/new/components/PillBoxCardList.tsx
  src/pages/pillbox/new/index.tsx
  src/pages/pillbox/new/page.css.ts
  src/ui/search-field/search-field.tsx
Labels: feat, size/L

#110 feat: 내 약통 페이지
  src/assets/icon/PlusBlue.svg
  src/assets/index.ts
  src/assets/svg/pillBoxIcon.svg
  src/pages/pillbox/index.tsx
  src/pages/pillbox/page.css.ts
  src/ui/tab/tab.tsx
Labels: feat, refactor, size/L

#114 feat: 페이지 애니메이션 적용
  src/components/search-fallback.tsx
  src/mocks/handlers/user.ts
  src/pages/cart/index.tsx
  src/pages/category/index.tsx
  src/pages/home/index.tsx
  src/pages/mypage/manage/index.tsx
  src/pages/onboarding/index.tsx
  src/pages/product/index.tsx
  src/pages/search/index.tsx
  src/pages/search/result/index.tsx
Labels: feat, fix, size/XL

#113 feat: pwa 설정 추가
  index.html
  package.json
  pnpm-lock.yaml
  public/apple-touch-icon-180x180.png
  public/favicon-32x32.png
  public/favicon.ico
  public/maskable-icon-512x512.png
  public/og-Img-PillME.png
  public/pwa-192x192.png
  public/pwa-512x512.png
  public/pwa-64x64.png
  public/robots.txt
  pwa-assets.config.ts
  vite.config.ts
Labels: chore, feat, size/XXL

#117 fix: 회원 가입시 api 성별 요청 값 수정
  src/apis/mutation/user.ts
  src/mocks/handlers/user.ts
  src/pages/register/registerStepState.ts
  src/pages/userinfo/components/GenderStepFunnel.tsx
  src/pages/userinfo/schema.ts
  src/pages/userinfo/userInfoStepState.ts
Labels: fix, size/S

#120 feat: 제품 상세 페이지 성분 분포도 api 연동
  src/apis/query/product.ts
  src/apis/types/product.ts
  src/pages/product/components/ingredient-chart.tsx
  src/pages/product/index.tsx
  src/pages/product/page.css.ts
Labels: feat, fix, size/M

#119 fix: 카테고리, 관련성분 매핑 상수 수정
  src/constants/category.ts
Labels: fix, size/M

#122 feat: 내 약통 관련 api 연동
  src/apis/mutation/myMedicine.ts
  src/apis/query/myMedicine.ts
  src/apis/types/myMedicine.ts
  src/apis/types/product.ts
  src/pages/pillbox/index.tsx
  src/pages/pillbox/manage/index.tsx
  src/pages/pillbox/manage/page.css.ts
  src/pages/pillbox/new/components/PillBoxCardList.tsx
  src/pages/pillbox/new/index.tsx
  src/pages/product/index.tsx
  src/pages/search/result/index.tsx
  src/pages/userinfo/components/GenderStepFunnel.tsx
Labels: feat, fix, size/L

#128 fix: 온보딩 페이지 캐러셀 이미지 깨지는 문제 해결
  src/pages/onboarding/assets/fourth.png
  src/pages/onboarding/assets/fourth.webp
  src/pages/onboarding/assets/graphic.png
  src/pages/onboarding/assets/graphic.webp
  src/pages/onboarding/assets/second.png
  src/pages/onboarding/assets/second.webp
  src/pages/onboarding/assets/third.png
  src/pages/onboarding/assets/third.webp
  src/pages/onboarding/components/carousel.tsx
  src/pages/onboarding/index.tsx
Labels: fix, size/XS

#127 fix: 홈 카테고리 아이템 수정
  .gitignore
  eslint.config.js
  src/pages/home/index.tsx
  src/pages/home/recommend-category.ts
Labels: chore, fix, size/S
